*{
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: aliceblue;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: auto auto;
    border: 5px solid blue;
    flex-direction: column;
}

h2{
    margin: 2% 0%;
}

#buttonRdm {
    height: 50px;
    width: 50px;
    background-color: blue;
    border: 2px solid yellow;
    margin: 10px 10px; 
}

.firstTables{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.secondTables{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.tableUne{
    width: 50%;
    border: 2px solid black;
    margin: 10px 10px;
    padding: 1%;
}

.tableDeux{
    width: 50%;
    border: 2px solid black;
    margin: 10px 10px;
    padding: 1%;
}

.tableTrois{
    width: 50%;
    border: 2px solid red;
    margin: 10px 10px;
    padding: 1%;
}

.tableQuatre{
    width: 50%;
    border: 2px solid red;
    margin: 10px 10px;
    padding: 1%;
}